@font-face {
    font-family: samsung-bold;
    src: url(../public/fonts/samsungsharpsans-bold.otf)
}
@font-face {
    font-family: samsung-medium;
    src: url(../public/fonts/samsungsharpsans-medium.otf)
}
@font-face {
    font-family: samsung-light;
    src: url(../public/fonts/samsungsharpsans.otf)
}
