[submodule "Revoira App (React Native)"]
	path = Revoira App (React Native)
	url = https://github.com/shigenoid/revoira-native
[submodule "Streamlit App"]
	path = Streamlit App
	url = https://github.com/shigenoid/rev-streamlit
[submodule "AI Codes (YOLO)"]
	path = AI Codes (YOLO)
	url = https://github.com/shigenoid/revoira-yolo
