/* NavBar Styles */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #57723a; /* Navbar background color */
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 30px 30px 0 0;
    padding: 10px;
}
  
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff; /* Text color */
    font-size: 0.9rem;
    padding: 5px;
    font-family: 'samsung-light', 'Poppins', serif;
}
  
.nav-item.connect-item {
    margin-top: -40px; /* Elevate the Connect button */
    background-color: #57723a; /* Match navbar background */
    border-radius: 30px;
    padding: 15px;
    border-bottom: 2px solid #4AB847;
}
  
.nav-icon {
    font-size: 1.5rem;
}
  
.nav-text {
    font-size: 0.8rem;
}