/* NavBar Styles */
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #57723a; /* Navbar background color */
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 30px 30px 0 0;
    padding: 10px;
}
  
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff; /* Text color */
    font-size: 0.9rem;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
  
.nav-item.active .nav-icon,
.nav-item.active .nav-text {
    opacity: 1; /* Active button content opacity */
    font-weight: bold; /* Active button content weight */
    transform: scale(1.2);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
  
.nav-item.connect-item {
    margin-top: -30px; /* Elevate the Connect button */
    background-color: #57723a; /* Match navbar background */
    border-radius: 30px;
    padding: 15px;
    border-bottom: 1px solid #64FF60;
    opacity: 1;
    transition: all 0.3s ease;
    transform: scale(1);
}

.nav-item.connect-item.active {
    margin-top: -50px;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
  
.nav-icon {
    font-size: 1.5rem;
    opacity: 0.5; /* Inactive icon opacity */
    transition: all 0.3s ease;
    transform: scale(1);
}
  
.nav-text {
    font-size: 0.8rem;
    opacity: 0.5; /* Inactive text opacity */
    transition: all 0.3s ease;
    font-family: 'samsung-light', 'Poppins', serif;
    transform: scale(1);
}